name: ${REPO?}

services:
    server:
        image: ${SERVER_IMAGE?}
        container_name: ${SERVER_CONTAINER?}
        restart: unless-stopped
        networks:
            - traefik-stage-public
        extra_hosts:
            - host.docker.internal:host-gateway

        labels:
            - traefik.enable=true
            - traefik.prod=false

            # api - port 3000
            - traefik.http.routers.${SERVER_CONTAINER?}-api.rule=Host(`wealthwatch-api-stage.aarcot.com`)
            - traefik.http.routers.${SERVER_CONTAINER?}-api.entrypoints=websecure
            - traefik.http.routers.${SERVER_CONTAINER?}-api.service=server-api-wealthwatch-stage
            - traefik.http.services.server-api-wealthwatch-stage.loadbalancer.server.port=3000

            # webhooks - port 3001
            - traefik.http.routers.${SERVER_CONTAINER?}-webhooks.rule=Host(`wealthwatch-api-stage.aarcot.com`) && PathPrefix(`/webhooks`)
            - traefik.http.routers.${SERVER_CONTAINER?}-webhooks.entrypoints=websecure
            - traefik.http.routers.${SERVER_CONTAINER?}-webhooks.service=server-webhooks-wealthwatch-stage
            - traefik.http.services.server-webhooks-wealthwatch-stage.loadbalancer.server.port=3001

    client:
        image: ${CLIENT_IMAGE?}
        container_name: ${CLIENT_CONTAINER?}
        restart: unless-stopped
        networks:
            - traefik-stage-public

        labels:
            - traefik.enable=true
            - traefik.prod=false
            - traefik.http.routers.${CLIENT_CONTAINER?}.rule=Host(`wealthwatch-stage.aarcot.com`)
            - traefik.http.routers.${CLIENT_CONTAINER?}.entrypoints=websecure

networks:
    traefik-stage-public:
        external: true
