name: ${REPO?}

services:
    db-proxy:
        image: alpine/socat
        container_name: ${DB_PROXY_CONTAINER?}
        restart: unless-stopped
        network_mode: host

        command: TCP-LISTEN:5433,fork,reuseaddr TCP:127.0.0.1:5432

    server:
        image: ${SERVER_IMAGE?}
        container_name: ${SERVER_CONTAINER?}
        restart: unless-stopped
        networks:
            - traefik-public
        labels:
            - traefik.enable=true
            - traefik.prod=true

            # api - port 3000
            - traefik.http.routers.${SERVER_CONTAINER?}-api.rule=Host(`wealthwatch-api.aarcot.com`)
            - traefik.http.routers.${SERVER_CONTAINER?}-api.entrypoints=websecure
            - traefik.http.routers.${SERVER_CONTAINER?}-api.service=server-api-wealthwatch-main
            - traefik.http.services.server-api-wealthwatch-main.loadbalancer.server.port=3000

            # webhooks - port 3001
            - traefik.http.routers.${SERVER_CONTAINER?}-webhooks.rule=Host(`wealthwatch-api.aarcot.com`) && PathPrefix(`/webhooks`)
            - traefik.http.routers.${SERVER_CONTAINER?}-webhooks.entrypoints=websecure
            - traefik.http.routers.${SERVER_CONTAINER?}-webhooks.service=server-webhooks-wealthwatch-main
            - traefik.http.services.server-webhooks-wealthwatch-main.loadbalancer.server.port=3001

    client:
        image: ${CLIENT_IMAGE?}
        container_name: ${CLIENT_CONTAINER?}
        restart: unless-stopped
        networks:
            - traefik-public
        labels:
            - traefik.enable=true
            - traefik.prod=true
            - traefik.http.routers.${CLIENT_CONTAINER?}.rule=Host(`wealthwatch.aarcot.com`)
            - traefik.http.routers.${CLIENT_CONTAINER?}.entrypoints=websecure

networks:
    traefik-public:
        external: true
