name: Build Shared, Client, and Server Projects

on:
    workflow_dispatch:
    pull_request_target:
        branches:
            - test
            - stage
            - main

permissions:
    packages: read

jobs:
    build-client:
        runs-on: self-hosted
        steps:
            - name: checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.ref_name }}

            - name: setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 'lts/*'
                  check-latest: true
                  registry-url: 'https://npm.pkg.github.com'

            - name: update npm
              run: npm i -g npm@latest

            - name: install, build - non-prod
              if: (github.base_ref || github.ref_name) != 'main'
              working-directory: client
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build:${{ github.base_ref || github.ref_name }}

            - name: install, build - prod
              if: (github.base_ref || github.ref_name) == 'main'
              working-directory: client
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build

            - name: remove cache folder
              if: always()
              working-directory: client
              run: rm -rf .npm

    build-server:
        runs-on: self-hosted
        steps:
            - name: checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.ref_name }}

            - name: setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 'lts/*'
                  check-latest: true
                  registry-url: 'https://npm.pkg.github.com'

            - name: update npm
              run: npm i -g npm@latest

            - name: install, build
              working-directory: server
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build

            - name: remove cache folder
              if: always()
              working-directory: server
              run: rm -rf .npm

    build-shared:
        runs-on: self-hosted
        steps:
            - name: checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.ref_name }}

            - name: setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 'lts/*'
                  check-latest: true

            - name: update npm
              run: npm i -g npm@latest

            - name: install, build
              working-directory: shared
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build

            - name: remove cache folder
              if: always()
              working-directory: shared
              run: rm -rf .npm
