name: Deploy Infrastructure

on:
    workflow_call:
        inputs:
            runner:
                required: true
                type: string
            db_proxy_container:
                required: true
                type: string
            server_image:
                required: true
                type: string
            server_container:
                required: true
                type: string
            client_image:
                required: true
                type: string
            client_container:
                required: true
                type: string

permissions:
    contents: none

jobs:
    deploy:
        runs-on: ${{ inputs.runner }}
        environment: ${{ github.ref_name == 'main' && 'prod' || github.ref_name }}
        steps:
            - name: start docker - test
              if: github.ref_name == 'test'
              env:
                  REPO: wealthwatch-${{ github.ref_name }}
                  SERVER_IMAGE: ${{ secrets.DOCKER_REGISTRY }}/${{ inputs.server_image }}
                  SERVER_PORT: ${{ vars.SERVER_PORT }}
                  WEBHOOK_PORT: ${{ vars.WEBHOOK_PORT }}
                  SERVER_CONTAINER: ${{ inputs.server_container }}
                  CLIENT_IMAGE: ${{ secrets.DOCKER_REGISTRY }}/${{ inputs.client_image }}
                  CLIENT_PORT: ${{ vars.CLIENT_PORT }}
                  CLIENT_CONTAINER: ${{ inputs.client_container }}
              working-directory: config/infra
              run: docker compose -f docker-compose.test.yml up -d

            - name: start docker - stage
              if: github.ref_name == 'stage'
              env:
                  REPO: wealthwatch-${{ github.ref_name }}
                  DB_PROXY_CONTAINER: ${{ inputs.db_proxy_container }}
                  SERVER_IMAGE: ${{ secrets.DOCKER_REGISTRY }}/${{ inputs.server_image }}
                  SERVER_CONTAINER: ${{ inputs.server_container }}
                  CLIENT_IMAGE: ${{ secrets.DOCKER_REGISTRY }}/${{ inputs.client_image }}
                  CLIENT_CONTAINER: ${{ inputs.client_container }}
              working-directory: config/infra
              run: docker compose -f docker-compose.stage.yml up -d

            - name: start docker - prod
              if: github.ref_name == 'main'
              env:
                  REPO: wealthwatch-${{ github.ref_name }}
                  DB_PROXY_CONTAINER: ${{ inputs.db_proxy_container }}
                  SERVER_IMAGE: ${{ secrets.DOCKER_REGISTRY }}/${{ inputs.server_image }}
                  SERVER_CONTAINER: ${{ inputs.server_container }}
                  CLIENT_IMAGE: ${{ secrets.DOCKER_REGISTRY }}/${{ inputs.client_image }}
                  CLIENT_CONTAINER: ${{ inputs.client_container }}
              working-directory: config/infra
              run: docker compose up -d
