name: Publish Shared Package

on:
    workflow_dispatch:
    push:
        branches:
            - dev
            - test
            - stage
            - main
        paths:
            - '.github/workflows/publish-shared.yml'
            - 'shared/src/**'
            - 'shared/package-lock.json'
            - 'shared/package.json'
            - 'shared/tsconfig.json'
            - 'shared/tsconfig.build.json'

concurrency:
    group: publish-${{ github.ref_name }}
    cancel-in-progress: true

permissions:
    packages: write

jobs:
    publish:
        runs-on: 'self-hosted'
        steps:
            - name: checkout
              uses: actions/checkout@v6

            - name: check last commit author
              id: check-author
              run: |
                  EMAIL=$(git log -1 --pretty=format:'%ae')
                  echo "Last commit author's email is $EMAIL"

                  if [[ "$EMAIL" == *"noreply.github.com" ]]; then
                    echo "skip_publish=true" >> $GITHUB_OUTPUT
                  else
                    echo "skip_publish=false" >> $GITHUB_OUTPUT
                  fi

            - name: setup node
              if: steps.check-author.outputs.skip_publish == 'false'
              uses: actions/setup-node@v6
              with:
                  node-version: 'lts/*'
                  check-latest: true
                  registry-url: 'https://npm.pkg.github.com'

            - name: update npm
              run: npm i -g npm@latest

            - name: check if version already published
              if: steps.check-author.outputs.skip_publish == 'false'
              id: check-version
              working-directory: shared
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm config ls

                  VERSION=$(jq -r .version package.json)
                  echo "Local version: $VERSION"

                  PACKAGE_NAME="@aditya-arcot/wealthwatch-shared"
                  if PUBLISHED=$(npm view "$PACKAGE_NAME" version); then
                    echo "Published version: $PUBLISHED"
                    if npx -y semver-compare-cli "$VERSION" gt "$PUBLISHED"; then
                      echo "Local version is greater. Will publish"
                      echo "skip_publish=false" >> $GITHUB_OUTPUT
                    else
                      echo "Local version is not greater. Skipping publish"
                      echo "skip_publish=true" >> $GITHUB_OUTPUT
                    fi
                  else
                    if echo "$PUBLISHED" | grep -q "E404"; then
                        echo "Package has never been published. Will publish"
                        echo "skip_publish=false" >> $GITHUB_OUTPUT
                    else
                        echo "Could not get published version"
                        echo "npm error: $PUBLISHED"
                        exit 1
                    fi
                  fi

            - name: install, build
              if: steps.check-author.outputs.skip_publish == 'false' && steps.check-version.outputs.skip_publish == 'false'
              working-directory: shared
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build

            - name: publish
              if: steps.check-author.outputs.skip_publish == 'false' && steps.check-version.outputs.skip_publish == 'false'
              working-directory: shared
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm config ls
                  npm whoami --registry=https://npm.pkg.github.com/
                  npm publish --access public

            - name: remove cache folder
              if: always()
              working-directory: shared
              run: rm -rf .npm
